#navbar {
    flex-direction: column;
    align-items: center;
}

#navbar .logo {
    margin-bottom: 0.5rem;
    text-align: center;
}

#navbar ul {
    padding: 0.5rem;
}

#showcase {
    margin-top: -5rem;
    margin-bottom: -4rem;
}

#services {
    margin-top: 4rem;
}

#services .services-items {
    flex-direction: column;
}

#trainers {
    display: block;
}

#trainers .trainers-img {
    display: none;
}

#testimonials {
    display: none;
}

#contact {
    flex-direction: column;
}

#contact .contact-form label {
    padding: 0.5rem;
}

#contact .contact-form input,
#contact .contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    border: solid #888 1px;
}

#contact .map {
    height: 250px;
}